body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: cornflowerblue;
}

#main-play-area{
 background-color: black;
 background-image: url(img/space.png);
 height: 610px;
 width: 610px;
}

.game-intructions{
  position: relative;
  color: white;
  left: 8rem;
  top: 0px;
}

.start-button{
  position: relative;
  color: white;
  top: 10rem;
  left: 15rem;
  cursor: pointer;
}

.player-shooter{
  position: relative;
  height: 60px;
  width: 70px;
  left: 20px;
  top: 270px;
}

.laser{
  position: relative;
  height: 30px;
  width: 40px;
}

.alien {
  height: 60px;
  width: 70px;
  position: relative;
}

.alien-transition{
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien{
  height: 60px;
  width: 70px;
  position: relative;
  opacity: 0;
}